
/* le HAUT DE PAGE */

header{
    background-color: black
}

p.En_tete {
    color: orange
}

h1.Titre {
    font-size: 50px; /*taille*/
    color: #000; 
    font-weight: bold; /*le gras*/
   /* opacity: 0.8 opacité*/
        
}

ul.snacks_objet{
    list-style-type: none;
    vertical-align: sub;
    background-color: red;
    padding:10px;
}


/* Style SNACK */

div.snacks_elements{
    display: inline-block;
    vertical-align: text-top;
    background-color: orange;
}

div.prix{
    vertical-align: text-top;
    background-color: orange;
}

div.img{
    vertical-align: text-top;
    background-color: orange;
}

li.snacks_list{
    background-color: green;
    vertical-align: baseline;
}



/* Style MATOS version ADMIN */

div.action_email div.action{
    display: inline-block;
    background-color: orange
}

div.action form div.form{
    display: inline-block;
}


/* le PIED */

footer{
    background-color: orange
}


