
/* styles de la bannière */
nav.banniere{
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Lavanderia;
}

nav.banniere ul{
    list-style-type: none;
    background-color: black;
}

nav.banniere ul li{
    float: none;
    display: inline-block;
    width: 49%;
    position: relative;
    background-color: black;
}

nav.banniere ul::after{
    display: table;
    clear: both;
    background-color: black;
}

nav.banniere a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
}

nav.banniere a:hover{
    color: black;
    background-color: orange;
    transition:0.5s all;
}

.sous{
    display: none ;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
    position: absolute;
    width: 50%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
    background-color: black;
}
.sous a{
    border-bottom: none;
    background-color: black;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant {
    text-align: right;
}

.deroulant > a::after{
    font-size: 12px;
}

.appel{
    text-align: left;
}

.conteneur{
    height: 1500px;
    background-color: black;
}

h1.banniere {
    color: white;
    text-align: center;
    background-color: black;
    font-weight: 900;
    font-variant : small-caps;
    padding: 20px;
}


/* styles de la page principale*/

h1.snack   {
    background-color: #FF7700;
    color: white;
    font-variant : small-caps;
    text-indent: 20px; 
}

h1.matos   {
    background-color: #FF9435;
    color: white;
    font-variant : small-caps;
    text-indent: 20px; 
}

h1.jeux   {
    background-color: #FFAC58;
    color: white;
    font-variant : small-caps;
    text-indent: 20px; 
}

p.intro    {
    padding: 20px;
    color: black;
    font-size: 35px;
    font-style: italic;
    font-variant : small-caps;
}

p          {
    margin: 20px;
    color: black;
    font-size: 20px;
}

p.alinea{
    margin: 20px;
    color: black;
    font-size: 20px;
    text-indent: 40px; 
}


/*Style des boutons snacks matos et jeux*/
nav.menu-nav ul{
    width: 100%;
    margin: 15px;
}

nav.menu-nav ul li.btn{
    display: inline-block;
    list-style-type: none;
    position : center;
    width: 30%;
}

nav.menu-nav ul li.btn a{
    color: white;
    text-decoration: none;
    padding : 10px;
    position : center;
    border-radius: 100px;
    border: 4px double #cccccc;
    font-size : 40px;
    text-align: center;
    width: 100%;
}

a.snack {
    background-color: #FF7700 ;
}

a.matos {
    background-color: #FF9435 ;
}

a.jeux {
    background-color: #FFAC58 ;
}

nav.menu-nav ul li.btn:hover a{
    color: black;
    transition:0.5s all;
    background-color: #FFAC58 ;
}

/*Style des items dans la liste snacks*/
ul.item_snack{
    list-style-type: none;
    padding:10px;
}
