
h1.snack   {
    background-color: #FF7700;
    color: white;
}

h1.matos   {
    background-color: #FF9435;
    color: white;
}

h1.jeux   {
    background-color: #FFAC58;
    color: white;
}

p    {
    color: black;
    font-size: 25px;
    font-style: italic;
}

/*Style des boutons snacks matos et jeux*/
nav.menu-nav ul li.btn{
    display: inline-block;
    list-style-type: none;
}

nav.menu-nav ul li.btn a{
    color: white;
    text-decoration: none;
    padding : 10px;
    border : #FF4D00;
    position : center;
    border-radius: 100px;
    border: 4px double #cccccc;
    font-size : 30px;
}

a.snack {
    background-color: #FF7700 ;
}

a.matos {
    background-color: #FF9435 ;
}

a.jeux {
    background-color: #FFAC58 ;
}

nav.menu-nav ul li.btn:hover a{
    color: black;
    transition:0.5s all;
}

