nav.menu-nav ul li.btn{
    display: inline-block;
    list-style-type: none;
}


nav.menu-nav ul li.btn a{
    color:white;
    background-color:#FDB304 ;
    text-decoration: none;
    padding : 10px;
}

nav.menu-nav ul li.btn:hover a{
    color: #FDB304;
    background-color: white ;
    transition:0.5s all;
}



div.snacks_elements{
    color:red;
    display: inline-block;
    vertical-align: text-top;
    background-color: yellow;
}

li.snacks_list{
    background-color: green;
    vertical-align: baseline;
}

footer {
    background-color : black;
    color : white ;
}

div#snacks {
    background-color:#FFF1D0;
}
div#jeux {
    background-color:#FFEBBD;
}
div#matos {
    background-color:#FFE2A0;
}


