
body{
    background: url("https://www.enpaysdelaloire.com/sites/default/files/styles/ogimage/public/edito/produits/images/Foret-de-Mervent.jpg?itok=UDg46oH8") no-repeat;  
    /*background-size: 100%;*/
}

h1.Titre {
    font-size: 50px; /*taille*/
    color: #fff; 
    font-weight: bold; /*le gras*/
    opacity: 0.8 /*opacité*/
        
}

div.video {
    padding: 50px; /*ajoute des pixel autours*/
}

p.texte{
    color: #fff;
    padding-left: 30px; /*ajoute des pixel à gauche*/
}

nav.menu-nav ul li.btn{
    display: inline-block; /*met en ligne au lieu de colonne*/
    list-style-type: none; /*supprime les puces*/
}


nav.menu-nav ul li.btn a{
    color:white;
    background-color:blue ;
    text-decoration: none;
    padding : 10px;
}

nav.menu-nav ul li.btn:hover a{ /*quand on passe la souris dessus*/
    color: red;
    background-color: white ;
    transition:0.5s all; /*ajoute un temps de transition entre les deux couleur*/
}


